.home
{
background-color:#000000;
height:2158px;
width:1920px;
padding:0px;
left:448px;
top:502px;
position:relative;
}
.footer
{
background-color:#ffffff;
height:280px;
width:1922px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:1878px;
left:-2px;
}
.horizontalborder
{
height:62px;
width:1922px;
align-self:flex-start;
top:217px;
left:0px;
position:absolute;
padding:0px;
}
.socialmedia
{
height:57px;
width:406px;
padding:0px;
left:1262px;
top:3px;
position:relative;
}
.group3
{
width:271px;
height:37px;
top:11px;
left:67px;
position:absolute;
}
.facebook1
{
height:34.63232421875px;
width:37px;
left:67px;
top:12px;
position:absolute;
}
.twitter
{
height:35px;
width:36px;
left:186px;
top:13px;
position:absolute;
}
.pinterestlogo
{
height:35px;
width:35px;
left:245px;
top:13px;
position:absolute;
}
.linkedin
{
height:35px;
width:35px;
border-radius:1px;
left:303px;
top:11px;
position:absolute;
}
.instagram
{
height:35px;
width:36px;
left:127px;
top:13px;
position:absolute;
}
.©2024codecareer.allrightsreserved.
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14.399999618530273px;
font-family:Comic Sans MS;
left:223px;
top:21px;
width:286.31134033203125px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo2
{
background-color:#ffffff;
height:60px;
width:207px;
padding:0px;
}
.codecareerblack2
{
height:71px;
width:221px;
}
.langue
{
height:60px;
width:216px;
padding:0px;
left:1613px;
position:relative;
}
.group2
{
width:131px;
height:35px;
top:15px;
left:46px;
position:absolute;
}
.internet1
{
height:30px;
width:30px;
left:58px;
top:18px;
position:absolute;
}
.english
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Comic Sans MS;
left:88px;
top:16px;
width:89px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle33
{
background-color:#d9d9d9;
height:35px;
width:131px;
border-radius:40px;
top:15px;
left:46px;
position:absolute;
}
.accesibility1
{
height:50px;
width:50px;
left:1829px;
top:5px;
position:absolute;
}
.categories
{
background-color:#0a66c2;
height:218px;
width:1953px;
padding:0px;
position:absolute;
}
.group5
{
width:1755px;
height:166px;
left:82px;
top:27px;
position:absolute;
}
.heading3→aboutus
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:82px;
top:27px;
width:208px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus2
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:76px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus3
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:98px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus4
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:125px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus5
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:152px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus6
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus7
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:576px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus8
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:576px;
top:76px;
width:148px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus9
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus10
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:76px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus11
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:97px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus12
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:118px;
width:161px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus13
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:139px;
width:186px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus14
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:160px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus15
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1627px;
top:51px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus16
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1627px;
top:71px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus17
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:575px;
top:27px;
width:208px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus18
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:1068px;
top:27px;
width:273px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus19
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:1626px;
top:27px;
width:211px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.categories2
{
background-color:#0a66c2;
height:218px;
width:1953px;
padding:0px;
position:absolute;
}
.group52
{
width:1755px;
height:166px;
left:82px;
top:27px;
position:absolute;
}
.heading3→aboutus20
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:82px;
top:27px;
width:208px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus21
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:76px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus22
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:98px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus23
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:125px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus24
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:152px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus25
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:82px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus26
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:576px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus27
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:576px;
top:76px;
width:148px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus28
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:55px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus29
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:76px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus30
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:97px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus31
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:118px;
width:161px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus32
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:139px;
width:186px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus33
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1068px;
top:160px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus34
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1627px;
top:51px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus35
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:1628px;
top:71px;
width:112px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus36
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:575px;
top:27px;
width:208px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus37
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:1068px;
top:27px;
width:273px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.heading3→aboutus38
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:1626px;
top:27px;
width:211px;
height:33px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.section
{
background-color:#ffffff;
height:1877px;
width:1928px;
padding:0px;
top:1px;
position:relative;
}
.sectionpart4
{
background-color:#f3f2f1;
height:140px;
width:1925px;
padding:0px;
left:1px;
top:1740px;
position:relative;
}
.startsearch
{
width:400px;
height:72px;
top:46px;
left:813px;
position:absolute;
}
.rectangle38
{
background-color:#0a66c2;
height:70px;
width:400px;
border-radius:30px;
top:47px;
left:813px;
position:absolute;
}
.startsearch2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:48px;
font-family:Poppins;
left:813px;
top:46px;
width:390px;
height:72px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.sectionpartie3
{
background-color:#ffffff;
height:405px;
width:1921px;
padding:0px;
left:3px;
top:1363px;
position:relative;
}
.getaheadwithcodecareer
{
text-align:center;
vertical-align:text-middle;
font-size:50px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:28px;
left:608px;
position:absolute;
width:704px;
}
.we'reservinguptrustedinsightsandanonymousconversation,soyou'llhavethegoodsyouneedtosucceed.
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:103px;
left:643px;
position:absolute;
width:634px;
}
.dry-clean3
{
height:150px;
width:150px;
left:127px;
top:0px;
position:absolute;
}
.people1
{
height:100px;
width:100px;
left:152px;
top:0px;
position:absolute;
}
.people2
{
height:100px;
width:100px;
left:152px;
top:0px;
position:absolute;
}
.job-search1
{
height:100px;
width:100px;
left:630px;
top:0px;
position:absolute;
}
.money1
{
height:100px;
width:100px;
left:1586px;
top:0px;
position:absolute;
}
.company1
{
height:100px;
width:100px;
left:1108px;
top:0px;
position:absolute;
}
.dry-clean4
{
height:150px;
width:150px;
left:605px;
top:0px;
position:absolute;
}
.dry-clean5
{
height:150px;
width:150px;
left:1083px;
top:0px;
position:absolute;
}
.dry-clean6
{
height:150px;
width:150px;
left:1561px;
top:0px;
position:absolute;
}
.joinyourworkcommunity
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:341px;
left:47px;
position:absolute;
width:317px;
}
.findandapplytojobs
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:341px;
left:550px;
position:absolute;
width:266px;
}
.searchcompanyreviews
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:341px;
left:1009px;
position:absolute;
width:304px;
}
.comparesalaries
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:341px;
left:1532px;
position:absolute;
width:215px;
}
.popularannouncement
{
height:632px;
width:1920px;
padding:0px;
left:4px;
top:737px;
position:relative;
}
.popularjobs
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:50px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:17px;
left:805px;
position:absolute;
width:310px;
}
.job1
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:70px;
top:129px;
position:relative;
}
.stagedéveloppeurwebh-f
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line5
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-49
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..5
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star1
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-17193067300991
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark1
{
height:35px;
width:35px;
left:445px;
top:0px;
position:absolute;
}
.price
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle46
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job2
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:70px;
top:314px;
position:relative;
}
.stagedéveloppeurwebh-f2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line52
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-492
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..52
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star12
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009912
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark12
{
height:35px;
width:35px;
left:445px;
top:0px;
position:absolute;
}
.price2
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle462
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran2
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job3
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:70px;
top:494px;
position:relative;
}
.stagedéveloppeurwebh-f3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line53
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-493
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..53
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star13
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009913
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark13
{
height:35px;
width:35px;
left:445px;
top:0px;
position:absolute;
}
.price3
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle463
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran3
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job4
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:674px;
top:129px;
position:relative;
}
.stagedéveloppeurwebh-f4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line54
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-494
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..54
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star14
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009914
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark14
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price4
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle464
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran4
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job5
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:674px;
top:310px;
position:relative;
}
.stagedéveloppeurwebh-f5
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line55
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr5
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-495
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..55
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star15
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009915
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc5
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark15
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price5
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle465
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran5
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job6
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:674px;
top:494px;
position:relative;
}
.stagedéveloppeurwebh-f6
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line56
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr6
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-496
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..56
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star16
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009916
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc6
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark16
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price6
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle466
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran6
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job7
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:1278px;
top:125px;
position:relative;
}
.stagedéveloppeurwebh-f7
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line57
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr7
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-497
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..57
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star17
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009917
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc7
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark17
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price7
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle467
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran7
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job8
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:1278px;
top:306px;
position:relative;
}
.stagedéveloppeurwebh-f8
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line58
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr8
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-498
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..58
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star18
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009918
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc8
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark18
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price8
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle468
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran8
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.job9
{
background-color:#ffffff;
height:114px;
width:572px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:21px;
padding:0px;
left:1278px;
top:494px;
position:relative;
}
.stagedéveloppeurwebh-f9
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:46px;
left:23px;
position:absolute;
width:351px;
}
.line59
{
width:221px;
transform:rotate(0deg);
border:1px solid #000000;
top:57px;
left:23px;
position:absolute;
}
.ville-cholet.fr9
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:67px;
left:23px;
position:absolute;
width:95px;
}
.cholet-499
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:86px;
left:23px;
position:absolute;
width:103px;
}
..59
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Comfortaa;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:276px;
position:absolute;
width:25px;
}
.star19
{
background-color:#0e0c0c;
height:14px;
width:15px;
top:9px;
left:305px;
position:absolute;
}
.sogea-maroc-squarelogo-171930673009919
{
height:27px;
width:31px;
left:0px;
top:0px;
position:absolute;
}
.emaroc9
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:16px;
left:51px;
position:absolute;
width:46px;
}
.bookmark19
{
height:35px;
width:35px;
left:0px;
top:0px;
position:absolute;
}
.price9
{
width:279px;
height:35px;
top:69px;
left:276px;
position:absolute;
}
.rectangle469
{
background-color:#f3f2f1;
height:35px;
width:279px;
border-radius:5px;
top:69px;
left:276px;
position:absolute;
}
.de32000€à45000€paran9
{
color:#595959;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Poppins;
left:286px;
top:74px;
width:245px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.banner
{
height:600px;
width:1920px;
padding:0px;
top:137px;
position:relative;
}
.rectangle34
{
background-color:#ffffff;
height:580px;
width:1890px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
border-radius:40px;
top:9px;
left:15px;
position:absolute;
}
.rectangle35
{
background-color:#ffffff;
height:100px;
width:1500px;
left:210px;
top:113px;
position:absolute;
}
.yourpathwaytoafutureindevelopment
{
text-align:center;
vertical-align:text-middle;
font-size:50px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:118px;
left:444px;
position:absolute;
width:1030px;
}
.search5
{
width:484px;
height:60px;
top:133px;
left:243px;
position:absolute;
}
.search12
{
height:50px;
width:50px;
left:243px;
top:275px;
position:absolute;
}
.jobtitle,keywords...
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:325px;
top:270px;
width:402px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line1
{
height:75px;
width:75px;
left:831px;
top:126px;
position:absolute;
}
.city
{
width:432px;
height:60px;
top:133px;
left:899px;
position:absolute;
}
.maps-and-flags1
{
height:60px;
width:60px;
left:899px;
top:270px;
position:absolute;
}
.city,department
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:967px;
top:270px;
width:364px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.startsearch3
{
width:250px;
height:50px;
top:138px;
left:1423px;
position:absolute;
}
.rectangle382
{
background-color:#0a66c2;
height:50px;
width:250px;
border-radius:30px;
top:275px;
left:1423px;
position:absolute;
}
.startsearch4
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Poppins;
left:1450px;
top:276px;
width:195px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.trusted1
{
height:591px;
width:1920px;
left:0px;
top:0px;
position:absolute;
}
.nav
{
height:136px;
width:1920px;
padding:0px;
top:1px;
position:relative;
}
.signin
{
background-color:#ffffff;
height:136px;
width:435px;
padding:0px;
left:1497px;
position:relative;
}
.signin2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
top:38px;
left:217px;
position:absolute;
width:155px;
}
.user1
{
height:70px;
width:70px;
left:0px;
top:33px;
position:absolute;
}
.navlist
{
background-color:#ffffff;
height:136px;
width:1069px;
padding:0px;
left:428px;
position:relative;
}
.group1
{
width:874px;
height:60px;
top:38px;
left:71px;
position:absolute;
}
.home2
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:71px;
top:38px;
width:127px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.companies
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:242px;
top:38px;
width:237px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.jobs3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:499px;
top:38px;
width:101px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.about39
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:626px;
top:38px;
width:165px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.contact
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:40px;
font-family:Poppins;
left:780px;
top:38px;
width:165px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo12
{
background-color:#ffffff;
height:136px;
width:468px;
padding:0px;
left:0px;
position:relative;
}
.codecareerblack22
{
height:136px;
width:426px;
}
